:root {
    --color-text-paragraph: rgb(255, 255, 255);
    --color-element-panel: rgb(0, 0, 0);
}

Label {
    font-size: 16px;
    color: var(--color-text-paragraph);
    -unity-font-definition: url("Fonts & Materials/Rajdhani-Regular SDF.asset");
}

.main_panel {
    background-color: var(--color-element-panel);
}
